* {
    padding: 0;
    margin: 0;
}

#lista-filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
}

.card {
    width: 40vh;
}

.card img {
    object-fit: cover;
    max-width: 40vh;
    height: 22rem;
}





